
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form asp-action="Insertar" method="get">
    <br>
    <br>
    <div style="position: relative; margin-left: 10px">
        <input class="btn btn-outline-dark" type="submit" value=" Agregar Registro">
        <i class="bi bi-plus-lg" style="position: absolute; top: 52%; left: 18px; transform: translate(-50%, -50%);"></i>
    </div>

    <br>
    <br>
    <div class="row">
        <div class="danger">
            @if (TempData["mensaje"] != null)
            {
                <div class="alert alert-success alert-dismissible" role="alert">
                    <p> @TempData["mensaje"] </p>
                    <button class="close" data-dismiss="alert" aria-label="close">
                        <span aria-hidden="true"> &times; </span>
                    </button>
                </div>
            }
        </div>
    </div>
</form>
@if (Model.Count > 0)
{
    <div class="Scroll">

        <div style="display: flex; align-items: center;">
            <i class="bi bi-person-fill" style="font-size: 1.5rem; color: #ffff;"></i>
            <h3 style="margin-left: 10px;">Lista de usuarios</h3>
        </div>
        <div class="table-container-div">
        <table class="table table-striped table-hover table-bordered">
            <thead>
                <tr>
                    <th scope="col"> Id del usuario </th>
                    <th scope="col"> Nombre </th>
                    <th scope="col"> Apellido </th>
                    <th scope="col"> Correo electrónico </th>
                    <th scope="col"> Acciones </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td> @item.UsuarioId </td>
                        <td> @item.Nombre </td>
                        <td> @item.Apellido </td>
                        <td> @item.Correo </td>

                        <td>
                            @Html.ActionLink("Editar", "Editar", "Usuario", new { @Id = item.UsuarioId }, new { @class = "btn btn-info" })
                            @Html.ActionLink("Eliminar", "Eliminar", "Usuario", new { @Id = item.UsuarioId }, new { @class = "btn btn-danger" })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        </div>
    </div>
}
